/DesignPattern/.vs
/DesignPattern/SimpleFactory/obj
/DesignPattern/SimpleFactory/bin
/DesignPattern/MediatorPattern/obj
/DesignPattern/MediatorPattern/bin
/DesignPattern/AdapterPattern/bin
/DesignPattern/AdapterPattern/obj
/DesignPattern/ObserverPattern/obj
/DesignPattern/ChainPattern/bin
/DesignPattern/ChainPattern/obj
/DesignPattern/ObserverPattern/bin
/DesignPattern/ProxyPattern/obj
/DesignPattern/ProxyPattern/bin
/DesignPattern/IteratorPattern/obj
/DesignPattern/IteratorPattern/bin
